@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: GeneralSans;
    font-weight: 400;
    src: url(../fonts/GeneralSans-Regular.woff) format("woff");
  }
  @font-face {
    font-family: GeneralSans;
    font-weight: 600;
    src: url(../fonts/GeneralSans-Semibold.woff) format("woff");
  }

  body {
    @apply font-primary;
  }
}

@layer components {
  .card {
    @apply bg-slate-75 shadow-sm  hover:shadow-md hover:shadow-slate-200 duration-300 shadow-slate-100 h-20 lg:h-[108px] px-4 lg:pl-6  w-full flex flex-col justify-center rounded-lg;
  }

  .cta-button {
    @apply flex items-center gap-2 py-2.5 px-4 bg-slate-900 rounded-full w-fit mt-4;
  }

  .logo-card {
    @apply bg-slate-75 h-[108px] w-full flex items-center justify-center rounded-lg shadow-sm  hover:shadow-md hover:shadow-slate-200 duration-300;
  }
}
